html body {
    background-color: black;
    font-family: "DejaVu Sans";
}

.divisor {
    background-color: transparent;
    margin-top: 3%;
    margin-bottom: 2%;
    max-height: 40%;
    height: 40%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
}

.image_container{
    float: left;
    margin-right: 2%;
    color: grey;
    font-size: 10px;
    text-align: center;
}

img {
    max-height:150px;
    max-width: 100%;
}

.title{
    color: lightgrey;
}

.banner {
    max-height: 30%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    text-align: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/185/016/non_2x/theater-or-cinema-auditorium-screen-with-red-curtains-and-seats-vector.jpg ');
}

.background{
    background-color: black;
    height: 100%;
    width: 100%;
}

.images{
    height: 100%;
    width: 100%;
    overflow: scroll;
}