html body {
    background-color: black;
}

.divisor {
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 30%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
}

.image_container{
    max-height: 100%;
}

img {
    max-height:150px;
    max-width: 100%;
}

.title{
    font-family: "DejaVu Sans";
    color: lightgrey;
}

.banner {
    max-height: 30%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    color: aquamarine;
    text-align: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/185/016/non_2x/theater-or-cinema-auditorium-screen-with-red-curtains-and-seats-vector.jpg ');
}

.background{
    background-color: black;
    height: 100%;
    width: 100%;
}
