.movie_info{
    color:#ff335f;/*#ff0039;*/
    padding-left: 1%;
}

.movie_info_title{
    padding-left: 1%;
}

.movie_divs .btn {
    align:top;
}

.movie_divs{
    float:left;
    width: 26%;
    height: 100%;
    margin-left: 2%;
}

.movie_schedule{
    padding-left:10%;
    padding-top:1%;
    padding-bottom: 40%;
}

.movie_amount{
    padding-bottom: 10%;
}

.movie_buy{
    align-items: flex-end;
    align-content: end;
    display: flex;
    justify-content: end;
    padding-bottom: 1%;
}

.movie_purchase_button{
    float: bottom;
}

.movie_title {
    font-size: 30px;
    color: white;
}
.movie_img {
    max-height:230px;
    max-width: 100%;
}