.movie_info{
    color:#ff335f;/*#ff0039;*/
    padding-left: 1%;
}

.movie_info_title{
    padding-left: 1%;
}

.movie_divs{
    float:left;
    width: 26%;
    height: 100%;
    margin-left: 2%;
}

.movie_purchase_button{
    float: bottom;
}

.movie_title {
    font-size: 30px;
    color: white;
}
.movie_img {
    max-height:230px;
    max-width: 100%;
}

.line {
     width: 100%;
     padding: 5% 0 0 5%;
     overflow: hidden;
 }

.line img, .line .name  {
    float: left;
    margin-right: 5%;
}

.line select {
    float: right;
    margin-right: 20%;
}

.movie_buy {
    overflow: hidden;
    width: 100%;
}

.movie_buy button {
    width: 50%;
    margin: 5% 25%;
}