.seatPickerDivisor{
    width: 48% !important;
    overflow: auto;
}

.screen{
    margin-bottom: 2%;
    text-align: center;
}

.seatExamples{
    margin: 2%;
}

.btn btn-secondary.active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}