.line {
     width: 100%;
     padding: 5% 0 0 5% !important;
     overflow: hidden;
 }

.line img, .line .name  {
    float: left;
    margin-right: 5%;
}

.line select {
    float: right;
    margin-right: 20%;
}

.movie_content{
    padding-bottom: 5%;
    padding-top: 5%;
}

.logged_as, .purchase_code{
    font-weight: bold;
    color: #18BC9C !important;
}

.registerLink {
    color: white;
}

.screenImage {
    width: 100%;
}

.seat_demo {
    width: 33%;
}