<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Config for production environment -->
    <property name="defaultPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <appender name="root-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>7</maxHistory>
            <fileNamePattern>logs/paw2018b-01-warnings.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>
    <appender name="paw-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>7</maxHistory>
            <fileNamePattern>logs/paw2018b-01-webapp.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="root-appender" />
    </root>
    <logger name="ar.edu.itba.paw" level="DEBUG" additivity="false">
        <appender-ref ref="paw-appender"/>
    </logger>
</configuration>